.section-flow {
    padding-bottom: 80px;
    @include sp {
        padding-bottom: 50px;
    }
    .flow-ttl {
        text-align: center;
        .en-ttl {
            margin-top: 80px;
            font-size: 26px;
            line-height: 32px;
            color: $letter;
            font-weight: bold;
            font-family: Roboto;
            background: linear-gradient(transparent 60%, #B0DCD6 0%);
            border-radius: 10px;
            display: inline-flex;
            @include sp {
                margin-top: 63px;
                font-size: 22px;
                line-height: 27px;
            }
        }
        .jp-ttl {
            margin-top: 10px;
            font-size: 36px;
            line-height: 52px;
            color: $green;
            font-weight: bold;
            font-family: NotoSans;
            @include sp {
                margin-top: 9px;
                font-size: 30px;
                line-height: 44px;
            }
        }
    }
    .flow-contents-f {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        @include tb {
            flex-direction: column;
            align-items: center;
        }
        @include sp {
            margin-top: 30px;
        }
        .flow-item {
            width: 320px;
            position: relative;
            .down-connection {
                display: none;
                position: absolute;
                left: 37px;
                bottom: -20px;
                width: 5px;
                height: 20px;
                background: $green;
                @include tb {
                    display: block;
                }
            }
            @include lp {
                width: 350rem;
            }
            @include tb {
                width: 350px;
            }
            @include sp {
                width: 335px;
            }
            &__ttl {
                padding: 0 20px;
                height: 80px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                background: $green;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include lp {
                    padding: 0 20rem;
                    height: 80rem;
                }
                @include tb {
                    padding: 0 20px;
                    height: 80px;
                }
                .flow-number {
                    background: #fff;
                    color: $green;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Roboto;
                    font-size: 20px;
                    line-height: 24px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    @include lp {
                        font-size: 20rem;
                        line-height: 24rem;
                        width: 40rem;
                        height: 40rem;
                    }
                    @include tb {
                        font-size: 20px;
                        line-height: 24px;
                        width: 40px;
                        height: 40px;
                    }
                }
                .flow-ttl {
                    padding-left: 10px;
                    font-size: 20px;
                    line-height: 29px;
                    color: #fff;
                    font-weight: bold;
                    font-family: NotoSans;
                    @include lp {
                        font-size: 20rem;
                        line-height: 29rem;
                    }
                    @include tb {
                        font-size: 20px;
                        line-height: 29px;
                    }
                }
                img {
                    width: 62px;
                    height: 44px;
                    @include lp {
                        width: 62rem;
                        height: 44rem;
                    }
                    @include tb {
                        width: 62px;
                        height: 44px;
                    }
                }
                .handshake-img {
                    width: 93px;
                    height: 57px;
                    @include lp {
                        width: 93rem;
                        height: 57rem;
                    }
                    @include tb {
                        width: 93px;
                        height: 57px;
                    }
                }
                .flow-connection {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -20px;
                    width: 20px;
                    height: 5px;
                    background: $green;
                    @include tb {
                        display: none;
                    }
                }
            }
            &__ttl-s {
                padding: 0 20px;
                height: 80px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                background: $green;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include lp {
                    padding: 0 20rem;
                    height: 80rem;
                }
                @include tb {
                    padding: 0 20px;
                    height: 80px;
                }
                .item-ttl {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .flow-number {
                    background: #fff;
                    color: $green;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Roboto;
                    font-size: 20px;
                    line-height: 24px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    @include lp {
                        font-size: 20rem;
                        line-height: 24rem;
                        width: 40rem;
                        height: 40rem;
                    }
                    @include tb {
                        font-size: 20px;
                        line-height: 24px;
                        width: 40px;
                        height: 40px;
                    }
                }
                .pair-ttl {
                    padding-left: 10px;
                    @include lp {
                        padding-left: 10rem;
                    }
                    @include tb {
                        padding-left: 10px;
                    }
                    .main-ttl {
                        font-size: 20px;
                        line-height: 29px;
                        color: #fff;
                        font-weight: bold;
                        font-family: NotoSans;
                        @include lp {
                            font-size: 20rem;
                            line-height: 29rem;
                        }
                        @include tb {
                            font-size: 20px;
                            line-height: 29px;
                        }
                    }
                    .ttl-desc {
                        font-size: 12px;
                        line-height: 17px;
                        color: #fff;
                        font-weight: bold;
                        font-family: NotoSans;
                        @include lp {
                            font-size: 12rem;
                            line-height: 17rem;
                        }
                        @include tb {
                            font-size: 12px;
                            line-height: 17px;
                        }
                    }
                }
                .message-img {
                    width: 75px;
                    height: 63px;
                    @include lp {
                        width: 75rem;
                        height: 63rem;
                    }
                    @include tb {
                        width: 75px;
                        height: 63px;
                    }
                }
                .flow-connection {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -20px;
                    width: 20px;
                    height: 5px;
                    background: $green;
                    @include tb {
                        display: none;
                    }
                }
            }
            &__desc {
                padding: 20px;
                font-size: 16px;
                line-height: 26px;
                height: 116px;
                background: #F2F7EF;
                color: $letter;
                font-weight: bold;
                font-family: NotoSans;
                @include lp {
                    padding: 20rem;
                    font-size: 16rem;
                    line-height: 26rem;
                    height: 116rem;
                }
                @include tb {
                    padding: 20px;
                    font-size: 16px;
                    line-height: 26px;
                    height: 116px;
                }
            }
        }
        .ml-20 {
            margin-left: 20px;
            @include lp {
                margin-left: 20rem;
            }
            @include tb {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
    .flow-contents-s {
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        @include lp {
            justify-content: center;
        }
        @include tb {
            flex-direction: column;
            align-items: center;
        }
        .flow-item {
            width: 320px;
            position: relative;
            .down-connection {
                display: none;
                position: absolute;
                left: 37px;
                bottom: -20px;
                width: 5px;
                height: 20px;
                background: $green;
                @include tb {
                    display: block;
                }
            }
            @include lp {
                width: 350rem;
            }
            @include tb {
                width: 350px;
            }
            @include sp {
                width: 335px;
            }
            &__ttl {
                padding: 0 20px;
                height: 80px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                background: $green;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include lp {
                    padding: 0 20rem;
                    height: 80rem;
                }
                @include tb {
                    padding: 0 20px;
                    height: 80px;
                }
                .flow-number {
                    background: #fff;
                    color: $green;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Roboto;
                    font-size: 20px;
                    line-height: 24px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    @include lp {
                        font-size: 20rem;
                        line-height: 24rem;
                        width: 40rem;
                        height: 40rem;
                    }
                    @include tb {
                        font-size: 20px;
                        line-height: 24px;
                        width: 40px;
                        height: 40px;
                    }
                }
                .flow-ttl {
                    padding-left: 10px;
                    font-size: 20px;
                    line-height: 29px;
                    color: #fff;
                    font-weight: bold;
                    font-family: NotoSans;
                    @include lp {
                        font-size: 20rem;
                        line-height: 29rem;
                    }
                    @include tb {
                        font-size: 20px;
                        line-height: 29px;
                    }
                }
                .edit-img {
                    width: 93px;
                    height: 57px;
                    @include lp {
                        width: 93rem;
                        height: 57rem;
                    }
                    @include tb {
                        width: 93px;
                        height: 57px;
                    }
                }
                .money-img {
                    width: 48px;
                    height: 58px;
                    @include lp {
                        width: 48rem;
                        height: 58rem;
                    }
                    @include tb {
                        width: 48px;
                        height: 58px;
                    }
                }
                .flow-connection {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -20px;
                    width: 20px;
                    height: 5px;
                    background: $green;
                    @include tb {
                        display: none;
                    }
                }
            }
            &__desc {
                padding: 20px;
                font-size: 16px;
                line-height: 26px;
                height: 116px;
                background: #F2F7EF;
                color: $letter;
                font-weight: bold;
                font-family: NotoSans;
                @include lp {
                    padding: 20rem;
                    font-size: 16rem;
                    line-height: 26rem;
                    height: 116rem;
                }
                @include tb {
                    padding: 20px;
                    font-size: 16px;
                    line-height: 26px;
                    height: 116px;
                }
            }
        }
        .ml-20 {
            margin-left: 20px;
            @include lp {
                margin-left: 20rem;
            }
            @include tb {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}